extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/auth/login", method="post")
   input#txtUsername(type="text", name="username")
   input#txtPassword(type="password", name="password")
   input#submit(type="submit", value="submit")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="/js/login.js")